<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 속성에는 사용할 인터페이스의 풀 경로를 적는다-->
<mapper namespace="com.spring.mvc.board.repository.BoardMapper">

    <resultMap id="boardMap" type="com.spring.mvc.board.domain.Board">
        <result property="boardNo" column="board_no" />
        <result property="viewCnt" column="view_cnt" />
        <result property="regDate" column="reg_date" />

    </resultMap>


   <select id="getArticles" resultMap="boardMap">
        SELECT * FROM board
        ORDER BY board_no DESC
    </select>

    <select id="getContent" resultMap="boardMap">
        SELECT * FROM board
        WHERE board_no = #{boardNo}
    </select>

    <insert id="insertArticle">
        INSERT INTO board
        (board_no, title, content, writer)
        VALUES
        (seq_board.nextval, #{title}, #{content}, #{writer})
    </insert>

    <delete id="deleteArticle">
        DELETE FROM board
        WHERE board_no = #{boardNo}
    </delete>

    <update id="modifyArticle">
        UPDATE board SET
            title = #{title}, content = #{content}
        WHERE board_no = #{boardNo}

    </update>


</mapper>